language: node_js
node_js:
  - "node"
cache:
  directories:
    - ~/.npm
    - ~/.cache
services:
  - docker
install:
  - yarn add cypress --silent
before_script:
  - docker-compose -f docker-compose.test.yml run -d client_test
script:
  - yarn test
after_script:
  - docker-compose -f docker-compose.test.yml down
after_success:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL
after_failure:
  - wget https://raw.githubusercontent.com/k3rn31p4nic/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL
addons:
  apt:
    packages:
      - docker-ce