version: "3.2"
services:
  devapi:
    build:
      context: dev-api/
      dockerfile: Dockerfile-devapi
    expose:
      - 3091
    ports:
      - "3091:3091"
  client_test:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DUCOR_API_URL=localhost
        - DUCOR_API_PORT=3091
    ports:
      - "80:80"
    depends_on:
      - devapi
  cypress:
    build:
      context: .
      dockerfile: cypress/Dockerfile-cypress
    volumes:
      - ./cypress:/app/cypress
    working_dir: /app
    environment:
      - CYPRESS_DUC_URL=localhost
      - CYPRESS_DUC_PORT=80
      - CYPRESS_PORT=8000
    command: "npm run test"
    network_mode: 'host'
    depends_on:
      - devapi
      - client_test